<IfModule authz_core_module>
      RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /consultas_codeigniter/index.php/$1 [L]
    ErrorDocument 404 /consultas_codeigniter/index.php
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>